<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Rubicon Login Test" parallel="false" thread-count="1">

    <listeners>
        <listener class-name="org.rubicon.listeners.TestListener"/>
    </listeners>

    <test name="Verify login functionality">
        <classes>
            <class name="org.rubicon.tests.LoginApplicationTest"/>
        </classes>
    </test>

    <test name="Verify dashboard functionality">
        <classes>
            <class name="org.rubicon.tests.modules.dashboard.DashboardPageTest"/>
        </classes>
    </test>

</suite>